<h2>Blogs</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @post_blogs.each do |blog| %>
      <tr>
        <td>
          <%= link_to user_path(blog.user.id) do %>
            <%= attachment_image_tag blog.user,:profile_image,format:"jpeg",fallback:"no_image.jpg",size:"40x40" %><br>
            <%= blog.user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to post_blog_path(blog.id) do %>
            <%= blog.title %>
          <% end %>
        </td>
        <td><%= blog.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'users/user_info',user:current_user %>
